// Keep images from scaling beyond the width of their parents.
@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

// Center element auto
@mixin center-auto ($display: block) {
	display: $display;
    margin-left: auto;
    margin-right: auto;
}

// Ellipsis font when text overflow
@mixin font-ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* *
 * 设置按钮背景色和文字颜色，按下按钮时背景色自动加深、文字自动增加透明度
 * @param $bg-背景颜色
 * @param [$bg=#fff]-文字颜色
 */

@mixin button-color($bg, $fg: #fff) {
  background-color: $bg;
  color: $fg;
  &:active {
    color: rgba($fg, 0.4);
    background-color: $bg - #222;
  }
}


