.qr-code{
	.qr-content{
		position: relative;
		margin: 0 auto;
		text-align: center;
		img,canvas{
			display: inline-block;
		}
		.logo{
			position: absolute;
			left:50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 12%
		}
	}
	
}