
.demo_index,.demo_cdbank_demo{
    .test-icon{
        display: inline-block;
        width: .5rem;
        padding-right: .1rem;
        vertical-align: text-bottom;
        img{
            width: 100%
        }
    }
    .xcgb-header-left,.xcgb-head-title-area,.xcgb-header-right{
    	color: red;
    }

    .xcgb-head-title-area{
    	height: .88rem;
    	line-height: .88rem;
    	text-align: center;
    }

    .flexx{
        padding: .2rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}