.v-cell{
	position: relative;
	padding-left: .3rem;
	box-sizing: border-box;
	label {display: block;}
	.flex-1{
		flex: 1;
		width: 0;
		label,.inlineDesc{
			@include font-ellipsis();
		}
	}
	.inlineDesc{
		font-size: $font-h4;
		margin-top: .1rem;
		color: $font-color-t3;
	}
	.w4{ min-width: .44rem }
	.align-left{text-align:left}
	.align-center{text-align:center}
	.align-right{text-align:right}


}

.v-cell-main{
	min-height: 1.04rem;
	padding: .28rem .3rem .28rem 0;
	box-sizing: border-box;
	position: relative;
	display: flex;
	align-items: center;
	font-size: $font-h2;
	&:after{
		content: " ";
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		height: 1px;
		border-bottom: 1px solid $line-color;
		color: $line-color;
		transform-origin: 0 100%;
		transform: scaleY(0.5);
	}

	.v-cell-hd{
		.icon{
			display: block;
			width: .4rem;
			height: .4rem;
			margin-right: .24rem
		}
	}

	.v-cell-bd{
		color: $font-color-t1;
		line-height: 1.2;
		.title-desc{
			min-width: 1.68rem;
			margin-right: .32rem;
		}
		.text{
			line-height: .52rem;
		}
	}
	.v-cell-ft{
		position: relative;
		line-height: 1.2;
		> *:last-child{
			color:$font-color-t4;
		}
	}

	.v-cell-icon{
		width: .44rem;
		text-align:right;
		vertical-align: text-top;
		.is-link{
			display: block;
			margin-right: .04rem;
			&:after{
				content: " ";
				display: inline-block;
				height: 8px;
				width: 8px;
				border-width: 2px 2px 0 0;
				border-color: #c8c8cd;
				border-style: solid;
				vertical-align: .02rem;
				transform: matrix(.71,.71,-.71,.71,0,0);
			}
		}
	}
}

.v-cell-link{
	&:active{ background: $line-color }
}
