@import "../../../common/scss/index";

.v-cell-input{
	.v-cell-main {
		min-height: 1.04rem;
		padding: .28rem .3rem .28rem 0;
	}

	.v-cell-input-bd{
		display: flex;
		align-items: center;
		font-size: $font-h2;
		.inputs{
			flex: 1;
			input{
				width: 100%;
				width: 100%;
				border: 0;
				outline: 0;
				-webkit-appearance: none;
				background-color: transparent;
				font-size: inherit;
				color: inherit;
				// height: 1.21176471em;
				line-height: 1.447;
			}
		}
	}
	label{
		min-width: 1.68rem;
		margin-right: .32rem;
	}
	.icon{
		width: .68rem;
		text-align: right;
		i{
			display: inline-block;
			vertical-align: top;
		}
	}
	.custom-icon{
		position: absolute;
		padding:0 .2rem;
		top: 50%;
		right: .1rem;
		transform: translateY(-50%);
	}
	.svg-explain_linear{
		display: block;
		width: .44rem;
		height: .44rem;
		background: url(../../../common/svg/explain_linear.svg) no-repeat center;
		background-size: 100%;
	}
	.svg-camera{
		display: block;
		width: .44rem;
		height: .44rem;
		background: url(../../../common/svg/camera.svg) no-repeat center;
		background-size: 100%;
	}
	.inputs{
		position: relative;
		span{
			padding: 0 .04rem;
			display: inline-block;
			border-right-style: solid;
			border-right-width: 1px;
			border-right-color: #436bf1;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -0.04rem;
			animation: flicker 1s linear infinite;
			i{
				visibility: hidden
			}
		}
	}

	.focus-left{span{left: -0.04rem;}}
	.focus-right{span{right: 0;}}

	@keyframes flicker{
		0% {
		  border-right-color: transparent;
		}
		49% {
		  border-right-color: transparent;
		}
		50% {
			border-right-color: #4e6aea;
		}
		100% {
			border-right-color: #4e6aea;
		}
	}
}
