.cgbFooter{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	font-size: 0.24rem;
	background: white;
	.footerContent{
		display: flex;
		justify-content: space-around;
		li{
			display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-direction: column;
		    padding: 0.06rem 0;
		    p{
		    	display: block;
				width: 0.56rem;
				height: 0.56rem;
		    }
		    &:nth-child(1)>p{
				background: url(../../../assets/tab_icon_home_normal@3x.png) no-repeat center;
				background-size: 100%
		    }
		    &:nth-child(2)>p{
				background: url(../../../assets/tab_icon_installment_normal@3x.png) no-repeat center;
				background-size: 100%
		    }
		    &:nth-child(3)>p{
				background: url(../../../assets/tab_scan_icon_normal@3x.png) no-repeat center;
				background-size: 100%;
				width: 0.8rem;
				height: 0.8rem;
		    }
		    &:nth-child(4)>p{
				background: url(../../../assets/tab_icon_wonderful_normal@3x.png) no-repeat center;
				background-size: 100%
		    }
		    &:nth-child(5)>p{
				background: url(../../../assets/tab_icon_mine_normal@3x.png) no-repeat center;
				background-size: 100%
		    }
		    &.active{
		    	color: red;
		    }
		    &.active:nth-child(1)>p{
				background: url(../../../assets/tab_icon_home_press@3x.png) no-repeat center;
				background-size: 100%
		    }
		    &.active:nth-child(2)>p{
				background: url(../../../assets/tab_icon_installment_press@3x.png) no-repeat center;
				background-size: 100%
		    }
		    &.active:nth-child(3)>p{
				background: url(../../../assets/tab_scan_icon_normal@3x.png) no-repeat center;
				background-size: 100%
		    }
		    &.active:nth-child(4)>p{
				background: url(../../../assets/tab_icon_wonderful_press@3x.png) no-repeat center;
				background-size: 100%
		    }
		    &.active:nth-child(5)>p{
				background: url(../../../assets/tab_icon_mine_press@3x.png) no-repeat center;
				background-size: 100%
		    }
		}
	}
}