.v-inline-witch{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 1.04rem;
    height: .56rem;
    border: solid 1px #ccc;
    border-radius: .28rem;
    box-sizing: border-box;
    padding:0 .08rem;
    transform: translateY(-50%);
    &:after{
        content: " ";
        display: block;
        width: .42rem;
        height: .42rem;
        border-radius: 50%;
        background: #ccc;
        // transition: all 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    }

    &.flag-true{
        justify-content: flex-end;
        &:after{
            background: $color-cm;
        }
    }
    &.flag-false{
        justify-content: flex-start;
    }
}